{# Maliyet yönetiminin alt ekranları; beş ekran da aynı çubuğu kullanıyor. #}
<div class="sekmeler" style="margin-bottom:16px">
  <a href="/raporlama/maliyet" class="{{ 'aktif' if aktif_menu == 'maliyet' }}">Bütçe / FC / Gerçekleşen</a>
  <a href="/raporlama/maliyet/planlar" class="{{ 'aktif' if aktif_menu == 'maliyet_planlar' }}">Araç Bazlı</a>
  <a href="/raporlama/maliyet/kirilim" class="{{ 'aktif' if aktif_menu == 'maliyet_kirilim' }}">Kırılım</a>
  <a href="/raporlama/maliyet/tarifeler" class="{{ 'aktif' if aktif_menu == 'maliyet_tarifeler' }}">Tarifeler</a>
  <a href="/raporlama/maliyet/butce" class="{{ 'aktif' if aktif_menu == 'maliyet_butce' }}">Bütçe ve FC Girişi</a>
</div>
